<div class="small-12" style="background-color:#ffffff">
	<div class="large-8 columns change1" align=""><br><br><br><br>

<h5>About Us</h5>

	<p style="font-size:86%; text-align:justify;">
The best and most beautiful things in the world cannot be seen or even touched - they must be felt with the heart- a famous saying by Helen Keller. With this thought Mr Satish Kumar, a florist by tradition and occupation shaped up the idea of Padmavathi Flower Decorators. Padmavathi Flower Decorators is the brain child of Mr.Satish Kumar who has been into this business for 30 years. Years after years his business evolved as trust worthy, quality endowing and promising.<br><br>

Padmavathi Flower Decorators is a organization which has itself diversified in many fields like wedding decorations, reception decorations, hall decorations, corporate parties, Puja's and all type of events/functions which require flower/stage decorations. <br><br>

We at Padmavathi feel that every occasion is special and such special occasions have to be in the long lasting memories of everyone. With this vision, exclusive range of services and excellent support staff we introduce ourselves as the best choice decorators for any event.</p>
<h5>Our Aim</h5>
<p style="font-size:86%;text-align:justify;">
	Our Aim is to cater to the demand of the various segments of People, executing their ideas with our professionally managed, expert team. With out of the box ideas and a team of young ideas we aim to reach high levels with utmost customer satisfaction and definitely wanting you to come back to us.<br><br>

	We understand every occasion has a destination or place to put up their events; hence we try to bring those destinations at one place by giving it an expert touch to every event. All the dreams of hosting destination events, weddings, Parties can be recreated, the magic can be done by us. Join the hands with us to a very new relationship of happiness for the longest of times.<br><br>
</p>

<h5>Why Us</h5>
<p style="font-size:86%;text-align:justify;">
We have the experience and the expertise to provide you a stress free special occasion through detailed technicalities. Our team of professionals strives 24/7 to provide you services on dot. We also understand the setting up budget is a difficult but a stress free beginning to any occasions. We have a budget list to cater to all the needs of our customers. With this you will have a better understanding of cost, your requirements and expenses that suits you.</p>

	</div>
	<div class="large-3 columns change">
  <h5 align="center">See Gallery</h5><hr>
  <li><a href="/welcome/gallery">Corporate Events</a></li><br>
<a class="border" href="/welcome/gallery"><img src="/assets/e102.gif"></a><br><br>
<li><a href="/welcome/gallery">Complete Wedding Decorations</a></li><br>
<a href="/welcome/gallery"><img src="/assets/w1.gif	"></a><br><br>
<li><a href="/welcome/gallery">Puja Pandal Decorations</a></li><br>
<a href="/welcome/gallery"><img src="/assets/p100.gif"></a><br><br>
<li><a href="/welcome/gallery">Other Events </a></li><br>
<a href="/welcome/gallery"><img src="/assets/r4.gif"></a><br><br>

	</div>
</div>

<style type="text/css">
 div.change img:hover{
 	border:1px solid #232323;
 }
.change {
  border-left: 1px solid #C0C0C0; 
}
.change li{
	text-align:center;
	display: block;
}

.change1{
	font-family: comic;
}

</style>