
<div class="small-12" style="background-color:#ffffff">
<br>
<div class="large-12 columns">
	
<!-- <div class="large-7 columns"> -->
<br>
<div class="border">
<iframe  class="border" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3807.61681179149!2d78.48828135!3d17.382162200000003!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb99cd3738505f%3A0x95f85d903c6935c1!2s4-7-297%2FA%2C+Esamia+Bazar+Rd%2C+Champapet%2C+Esamiya+Bazaar%2C+Koti%2C+Hyderabad%2C+Telangana+500027!5e0!3m2!1sen!2sin!4v1410587814784" width="970" height="400" frameborder="0" style="border:0"></iframe>
	<!--   place the map here -->
	</div>
</div>
	<!-- </div> -->
<br>
<!-- <div class="large-5 columns"> -->
		<br><br><br>
<div class="large-12 columns">
<div class="large-7 columns" align="center">
<br><br><br><br><br>
<h3>Contact Us at: </h3>
</div>
 <div class="large-5 columns">
 <br>
<p>

<b>Name:</b> Mahesh Kumar<br>
<b>Company:</b> Padmavathi Flower Decorators<br>
<b>Address:</b> 4-7-856 Esamia Bazar<br>
<b>City:</b> Hyderabad<br>
<b>State:</b> Telangana<br>
<b>Zipcode:</b> 500027<br>
<b>Country:</b> INDIA<br>
<b>Email:</b> satish@padmavathiflowerdecorators.com<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; satishkumar@padmavathiflowerdecorators.com<br>
<b>Mobile:</b> +91.9000555433
</p> <br> <br><br>
</div>

</div>
<!-- </div> -->
</div>





<style>
p{
	font-size: 86%;
	text-align:justify;
	font-style: normal;
	font-family: "Times New Roman", Times, serif;
}
</style>