<div class="small-12" style= "background-color:#ffffff">

  <ul class="example-orbit" data-orbit="" data-options=" animation_speed:600; timer_speed:1500; resume_on_mouseout:1; pause_on_hover:1; bullets:0" class="orbit-slides-container" style="height: 200px;"> 
    <li> 
      <img src="/assets/w1.gif" alt="slide 1" class="cimage"/> 
      <div class="orbit-caption"> Corporate Events </div> 
    </li> 
    <li class="active">
     <img src="/assets/w2.gif" alt="slide 2" class="cimage"/> 
     <div class="orbit-caption"> Flower Decoration </div> 
    </li> 
    <li>
     <img src="/assets/w3.gif" alt="slide 3" class="cimage"/> 
     <div class="orbit-caption"> Flower Decoration </div>
      </li> 
    </ul>
  <br>
  <div class="gallery">
 
  <h5>Corporate Events</h5>
  <p>With the vast experience in the field and the knowledge of the market, we understand the audiences. Corporate events are a way of marketing the companies, building relationships with clients. We believe that the first impression counts hence we incorporate themes, designs formats for the event, and décor with only goal of making your specific event very unique and memorable.We specialize stage decorations and in supplying different flower bouquets for conferences, board meetings corporate events, press meetings, sales and dealers meetings, opening cermonies, inagurations, product launches etc</p>

  <ul>
  <li class="img"><a href="/assets/e100.gif"target="_"><img src="/assets/e100.gif" width="120px" height="100px"></a></li>
  <li class="img"><a href="/assets/e102.gif"target="_"><img src="/assets/e102.gif" width="120px" height="100px"></a></li>
  <li class="img"><a href="/assets/e103.gif"target="_"><img src="/assets/e103.gif" width="120px" height="100px"></a></li>
  <li class="img"><a href="/assets/e104.gif"target="_"><img src="/assets/e104.gif" width="120px" height="100px"></a></li>
  <li class="img"><a href="/assets/e105.gif"target="_"><img src="/assets/e105.gif" width="120px" height="100px"></a></li>
  </ul>


  <h5>Complete Wedding Decorations</h5>
  <p>Marriages are made in heaven. Let the beauty of heaven come down to every couple's life with our theme based weddings with your ideas and our execution. Wedding and pre-wedding festivities has its own significance in bride and groom's life forever. We create the magic from the engagement to the marriage, from the sangeet to the mehandi. We create magical moments with our out of the box innovative decorations to make your moment the best.</p>

  <p>We expertise in Entrance and Hall Decorations on all occassions from engagement till marriage. We have the best themes for hall, mandap, stage decorations for engagement, sangeet, wedding.</p>


  <ul>
  <li class="img"><a href="/assets/w1.gif"target="_"><img src="/assets/w1.gif" width="120px" height="100px"></a></li>
  <!-- <li class="img"><a href="/assets/w2.gif"target="_"><img src="/assets/w2.gif" width="120px" height="100px"></a></li> -->
  <li class="img"><a href="/assets/w3.gif"target="_"><img src="/assets/w3.gif" width="120px" height="100px"></a></li>
  <li class="img"><a href="/assets/w4.gif"target="_"><img src="/assets/w4.gif" width="120px" height="100px"></a></li>
  <li class="img"><a href="/assets/w5.gif"target="_"><img src="/assets/w5.gif" width="120px" height="100px"></a></li>
  <!-- <li class="img"><a href="/assets/w6.gif"target="_"><img src="/assets/w6.gif" width="120px" height="100px"></a></li> -->
  <li class="img"><a href="/assets/w7.gif"target="_"><img src="/assets/w7.gif" width="120px" height="100px"></a></li>
  <!-- <li class="img"><a href="/assets/w8.gif"target="_"><img src="/assets/w8.gif" width="120px" height="100px"></a></li> -->
  <!-- <li class="img"><a href="/assets/w9.gif"target="_"><img src="/assets/w9.gif" width="120px" height="100px"></a></li>
  <li class="img"><a href="/assets/w10.gif"target="_"><img src="/assets/w10.gif" width="120px" height="100px"></a></li> -->
  <li class="img"><a href="/assets/w11.gif"target="_"><img src="/assets/w11.gif" width="120px" height="100px"></a></li>
  <li class="img"><a href="/assets/w100.gif"target="_"><img src="/assets/w100.gif" width="120px" height="100px"></a></li>
  <li class="img"><a href="/assets/w101.gif"target="_"><img src="/assets/w101.gif" width="120px" height="100px"></a></li>

  <!-- <li class="img"><a href="/assets/r1.gif"target="_"><img src="/assets/r1.gif" width="120px" height="100px"></a></li> -->
  <!-- <li class="img"><a href="/assets/r2.gif"target="_"><img src="/assets/r2.gif" width="120px" height="100px"></a></li>
  <li class="img"><a href="/assets/r3.gif"target="_"><img src="/assets/r3.gif" width="120px" height="100px"></a></li> -->
  <!-- <li class="img"><a href="/assets/r4.gif"target="_"><img src="/assets/r4.gif" width="120px" height="100px"></a></li> -->
  <!-- <li class="img"><a href="/assets/r5.gif"target="_"><img src="/assets/r5.gif" width="120px" height="100px"></a></li> -->
  <!-- <li class="img"><a href="/assets/r6.gif"target="_"><img src="/assets/r6.gif" width="120px" height="100px"></a></li> -->
  <li class="img"><a href="/assets/r7.gif"target="_"><img src="/assets/r8.gif" width="120px" height="100px"></a></li>
  <!-- <li class="img"><a href="/assets/r7.gif"target="_"><img src="/assets/r9.gif" width="120px" height="100px"></a></li> -->
 <!--  <li class="img"><a href="/assets/r100.gif"target="_"><img src="/assets/r100.gif" width="120px" height="100px"></a></li> -->
  <!-- <li class="img"><a href="/assets/r102.gif"target="_"><img src="/assets/r102.gif" width="120px" height="100px"></a></li> -->
  <!-- <li class="img"><a href="/assets/r103.gif"target="_"><img src="/assets/r103.gif" width="120px" height="100px"></a></li> -->
  <li class="img"><a href="/assets/r104.gif"target="_"><img src="/assets/r104.gif" width="120px" height="100px"></a></li>
  </ul>
  <h5>Puja Pandal Decorations</h5>
  <p>Now-a-days, the outer glamour has simplified the ritual of the puja. Pandal Decorations have become an ingredient part of the Ganesh / Durga Puja. It is art and creativity. The pandal structures can be look alike of famous Monuments or Temples. There are often themed decorations. Lightings are also an important feature of the Ganesh/Durga Puja Pandal Decorations. Quality, Design and Thoghts have been changed dramatically in lightings also in last few years. Puja organisers are trying to put some new theme and thought in thier pandal to survive in this tough competition and to pull in their Puja Pandal. Due to its stunning innovative thoughts and ideas we have created great puja pandals.</p>
  
  <ul>
  <li class="img"><a href="/assets/p100.gif"target="_"><img src="/assets/p100.gif" width="120px" height="100px"></a></li>
  <li class="img"><a href="/assets/p101.gif"target="_"><img src="/assets/p101.gif" width="120px" height="100px"></a></li>
  
  </ul>
  
  <h5>Other Events </h5>
  <p>Padmavathi Flower Decorators takes the privilage in offering the best decoration services for any events like birthday functions, etc.</p>
 <ul>
  <li class="img"><a href="/assets/r1.gif"target="_"><img src="/assets/r1.gif" width="120px" height="100px"></a></li>
  <li class="img"><a href="/assets/r2.gif"target="_"><img src="/assets/r2.gif" width="120px" height="100px"></a></li>
  <li class="img"><a href="/assets/r3.gif"target="_"><img src="/assets/r3.gif" width="120px" height="100px"></a></li>
  <li class="img"><a href="/assets/r4.gif"target="_"><img src="/assets/r4.gif" width="120px" height="100px"></a></li>
  <li class="img"><a href="/assets/r5.gif"target="_"><img src="/assets/r5.gif" width="120px" height="100px"></a></li>
  <li class="img"><a href="/assets/r6.gif"target="_"><img src="/assets/r6.gif" width="120px" height="100px"></a></li>
  <li class="img"><a href="/assets/r7.gif"target="_"><img src="/assets/r8.gif" width="120px" height="100px"></a></li>
  <li class="img"><a href="/assets/r7.gif"target="_"><img src="/assets/r9.gif" width="120px" height="100px"></a></li>
  </ul>
  </div>
</div>


<style type="text/css">

   
   .cimage{
    width:100%;
    max-height: 400px !important;
   }

   div.change a:hover img{
    border:1px solid #272727;
   }

  .orbit-bullets { display: none; }

  .row{
    background-color: #ffffff;
  }
  div.gallery{
    padding: 20px;
  }
  .img{
    display: inline-block;
  }
  .img img{
    border: 2px solid #000000;
    margin: 2px;
  }

  .img img:hover{
    border: 2px solid red;
    margin: 2px;
  }
  .img a:hover{
    

  }


  .gallery p{
    
    font-size: 75%;
    text-align:justify; 

  }

  </style>