

<div class="small-12" style="background-color:#ffffff">
   <!-- <div class="large-3 columns">
      <br>
      
      <h6>Welcome to North India Steel Tubes Corporation</h6>
      <p style="text-indent:40px"><font size="2">North India having its Head Office at Hyderabad has steadily grown to become a premium dealer and stocks the best quality brands manufactured by the most reputed Manufacturers and leading Industrial houses in India.</font></p>
      </div> -->
   <div class="large-12 columns border" >
      <ul class="example-orbit" data-orbit="" data-options=" animation:fade; animation_speed:600; timer_speed:2000; resume_on_mouseout:1; pause_on_hover:1; bullets:0" class="orbit-slides-container" style="height: 0px;">
         <li>
            <img src="/assets/r1.gif" alt="slide 1" class="cimage"/> 
            <div class="orbit-caption"> Flower Decoration </div>
         </li>
         <li class="active">
            <img src="/assets/r2.gif" alt="slide 2" class="cimage"/> 
            <div class="orbit-caption"> Marriage Hall Decoration </div>
         </li>
         <li>
            <img src="/assets/r3.gif" alt="slide 3" class="cimage"/> 
            <div class="orbit-caption"> Reception Decoration </div>
         </li>
         <li>
            <img src="/assets/o1.gif" alt="slide 3" class="cimage"/> 
            <div class="orbit-caption">  </div>
         </li>
         <li>
            <img src="/assets/r4.gif" alt="slide 3" class="cimage"/> 
            <div class="orbit-caption"> Reception Decoration </div>
         </li>
         <li>
            <img src="/assets/r5.gif" alt="slide 3" class="cimage"/> 
            <div class="orbit-caption"> Reception Decoration </div>
         </li>
         <li>
            <img src="/assets/r5.gif" alt="slide 3" class="cimage"/> 
            <div class="orbit-caption"> Reception Decoration </div>
         </li>
         <li>
            <img src="/assets/r6.gif" alt="slide 3" class="cimage"/> 
            <div class="orbit-caption"> Reception Decoration </div>
         </li>
         <li>
            <img src="/assets/r7.gif" alt="slide 3" class="cimage"/> 
            <div class="orbit-caption"> Reception Decoration </div>
         </li>
         <li>
            <img src="/assets/r8.gif" alt="slide 3" class="cimage"/> 
            <div class="orbit-caption"> Reception Decoration </div>
         </li>
         <li>
            <img src="/assets/r9.gif" alt="slide 3" class="cimage"/> 
            <div class="orbit-caption"> Reception Decoration </div>
         </li>
      </ul>
      <br>
   </div>
   <hr/>
   <br>
   <div class="large-4 columns change">
      <h5 align="center">Flower Bouquet</h5>
      <br><br><br>
      <a href="/welcome/gallery"><img src="/assets/home/bouquet.jpg" height="300px" width="300px"/></a>      
      <br>
   </div>
   <div class="large-4 columns change">
      <h5 align="center">Car Decorators</h5>
      <a href="/welcome/gallery"><img src="/assets/home/Cardecorators123.jpg" height="300px" width="300px"/></a>
      <a href="/welcome/gallery"><img src="/assets/home/Cardecorators2.jpg" height="300px" width="300px"/></a>
   </div>
   <div class="large-4 columns change">
      <h5 align="center">Premium Decorations</h5>
      <a href="/welcome/gallery"><img src="/assets/home/Event_104.gif" height="300px" width="300px"/></a>
      <a href="/welcome/gallery"><img src="/assets/home/HallDecoration_102.gif" height="300px" width="300px"/></a>
   </div>
</div>

<style type="text/css">
   .change p{
   font-size: 86%;
   text-indent:40px;
   }
   .cimage{
   width:100%;
   max-height: 380px !important;
   }
   div.change a:hover img{
   border:1px solid #272727;
   }
   .orbit-bullets { display: none; }
   .row{
   background-color: #ffffff;
   }
</style>

