<div class="row" style="background-color:#ffffff" align="Center">
<p>Thank you for contacting Padmavathi Flower Decorators <br>
  we will get back to you soon </p>
  <button>Click to go to home page</button>

  </div>

