<div class="" style="background-color:#ffffff">
<div class="large-12 columns">

<div class="large-3 columns">
<h4 style="font-family:verdaman" > See Gallery</h4>
<a href="/welcome/specifications"><u>Wedding Decoration</u></a><br><br>
<a href="#"><img src="/assets/w1.gif"></a><br><br><br>
<a href="#"><u>Reception Decoration</u></a><br><br>
<a href="#"><img src="/assets/r1.gif"></a><br><br><br>
<a href="#"><u>Birthday Party Decoration</u></a><br><br>
<a href="#"><img src="/assets/b1.gif"></a><br><br><br>
<a href="#"><u>Welcome Bord Decoration</u></a><br><br>
<a href="#"><img src="/assets/entrance-1.gif"></a><br><br><br>
</div>

<div class="large-9 columns">

<h4 style="font-family:verdaman" > Wedding Decoration</h4><br><br>

 <div class="large-4 columns">
 <ul class="img">
<li><a href="#" target="_"><img src="/assets/w1.gif" width="150px" height="90px"></a><br><br></li>
<li><a href="#" target="_"><img src="/assets/w2.gif" width="150px" height="90px"></a><br><br></li>
<li><a href="#" target="_"><img src="/assets/w3.gif" width="150px" height="90px"></a><br><br></li>
<li><a href="#" target="_"><img src="/assets/w4.gif" width="150px" height="90px"></a><br><br></li>
<li><a href="#" target="_"><img src="/assets/w5.gif" width="150px" height="90px"></a><br><br></li>
<li><a href="#" target="_"><img src="/assets/w6.gif" width="150px" height="90px"></a><br><br></li>
<li><a href="#" target="_"><img src="/assets/w7.gif" width="150px" height="90px"></a><br><br></li>
<li><a href="#" target="_"><img src="/assets/w8.gif" width="150px" height="90px"></a><br><br></li>
<li><a href="#" target="_"><img src="/assets/w9.gif" width="150px" height="90px"></a><br><br></li>
</ul>
</div>
<div class="large-4 columns">
<ul class="img">
<li><a href="#" target="_"><img src="/assets/w10.gif" width="150px" height="90px"></a><br><br></li>
<li><a href="#" target="_"><img src="/assets/w11.gif" width="150px" height="90px"></a><br><br></li>
<li><a href="#" target="_"><img src="/assets/w12.gif" width="150px" height="90px"></a><br><br></li>
<li><a href="#" target="_"><img src="/assets/w13.gif" width="150px" height="90px"></a><br><br></li>
<li><a href="#" target="_"><img src="/assets/w14.gif" width="150px" height="90px"></a><br><br></li>
<li><a href="#" target="_"><img src="/assets/w15.gif" width="150px" height="90px"></a><br><br></li>
<li><a href="#" target="_"><img src="/assets/w16.gif" width="150px" height="90px"></a><br><br></li>
<li><a href="#" target="_"><img src="/assets/w17.gif" width="150px" height="90px"></a><br><br></li>
<li><a href="#" target="_"><img src="/assets/w18.gif" width="150px" height="90px"></a><br><br></li>
</ul>
</div>

	<div class="large-4 columns">
<ul class="img">
<li><a href="#" target="_"><img src="/assets/w19.gif" width="140px" height="60px"></a><br><br></li>
<li><a href="#" target="_"><img src="/assets/w20.gif" width="140px" height="60px"></a><br><br></li>
<li><a href="#" target="_"><img src="/assets/w21.gif" width="140px" height="60px"></a><br><br></li>
<li><a href="#" target="_"><img src="/assets/w22.gif" width="140px" height="60px"></a><br><br></li>
<li><a href="#" target="_"><img src="/assets/w23.gif" width="140px" height="60px"></a><br><br></li>
<li><a href="#" target="_"><img src="/assets/w24.gif" width="140px" height="60px"></a><br><br></li>
<li><a href="#" target="_"><img src="/assets/w25.gif" width="140px" height="60px"></a><br><br></li>
<li><a href="#" target="_"><img src="/assets/w26.gif" width="140px" height="60px"></a><br><br></li>
<li><a href="#" target="_"><img src="/assets/w27.gif" width="140px" height="60px"></a><br><br></li>
</ul>
</div>
</div> -->


	

<style>

div .img a:hover {
 	border:4px 
 	solid #232323;
 }
 .img li {
 	display: inline-block;
 }
 </style>